<div class="col-auto col-md-3 col-lg-3 col-xl-2 px-sm-2 px-0 bg-primary">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100 sticky-top">
        <div href="/" class="pb-4 text-white text-decoration-none mx-auto text-center">
            <img src="/images/logo.png" width="150" height="150" alt="logo" class="me-2">
            <span class="fs-2 fw-semibold d-none d-sm-inline text-white">SmartDine</span>
        </div>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="sidebar">
            <li class="nav-item">
                <a href="/dashboard" class="nav-link align-middle px-0">
                    <img src="/images/dashboard.png" alt="dashboard"> 
                    <span class="ms-1 d-none d-sm-inline">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/tables" class="nav-link px-0 align-middle">
                    <img src="/images/tables.png" alt="tables">
                    <span class="ms-1 d-none d-sm-inline">Tables & Appliances</span>
                </a>
            </li>
            <li>
                <a href="/addReservations" class="nav-link px-0 align-middle">
                    <img src="/images/addReservations.png" alt="addReservations">
                    <span class="ms-1 d-none d-sm-inline">Add Reservations</span>
                </a>
            </li>
            <li>
                <a href="/viewReservations" class="nav-link px-0 align-middle">
                    <img src="/images/viewReservations.png" alt="viewReservations">
                    <span class="ms-1 d-none d-sm-inline">View Reservations</span>
                </a>
            </li>
            <li>
                <a href="/appliances" class="nav-link px-0 align-middle">
                    <img src="/images/appliances.png" alt="appliances">
                    <span class="ms-1 d-none d-sm-inline">Appliance Settings</span>
                </a>
            </li>
        </ul>
        <div class="pb-4 w-100 px-1">
            <button class="btn btn-danger btn-lg w-100 fw-semibold" id="logoutBtn">Logout</button>
        </div>
    </div>
</div>